
.landdiv{
    height: 95vw;
    background-image: url(./imgs/hd_bg.jpg);
     background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
   
}
.h1{
    color: white;
    font-size: 60px;
  
    
 
}
